.select .main {
    border: 1px solid #474747;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid #474747;
}

.item.selected {
    background-color: #5f90d5;
    color: #fff;
}